
<html>
    <head>
        <title>Movies</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="bg-primary text-white text-center p-2">
                <h1 class= 'fs-0'>Movies</h1>
            </div>
            <p class="p-2">Hola, bienvenido. Estas son tus peliculas: </p>
            <ul class="list-group">
                {% for movie in movies %}
                <li class="list-group-item">
                    <a href="movie/{{movie.id}}/"> {{movie | capfirst }}</a>
                    <p>{{movie.year}}</p>
                </li>
                {%endfor%}
            </ul>
        </div>
    </body>
</html>